.OneRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.OneCol {
    display: flex;
    flex-direction: column;
}

.OneOneCol {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
}

.OneTwoCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    font-size: 16px;
}

.OneThrCol {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
}

.OneTwoAddCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;;
    margin-right: auto;
    font-size: 24px;

}
.BBox{
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.BoxTitle{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
}

.BoxContent{
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width: 991px) {
    .OneOneCol {
        font-size: 16px;
    }

    .OneTwoAddCol {
        font-size: 16px;
    }

    .OneTwoCol {
        font-size: 12px;
    }

    .OneThrCol {
        font-size: 8px;
    }
}

.RV_poster_card{

    background-size: cover;
    background-position: center;
    align-items: center;

    width: 100%;
    height: 60vh;
}
