.overLay{
    width: 100%;
    height: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    padding: 16px;
}

.overLay:hover{
    opacity: 1;
}

.moviesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    justify-content: center;
    padding: 20px;
}

.moviesCard {
    width: 98%;
    height: 300px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
}

.moviesCard:hover {
    transform: scale(1.1);
    z-index: 2;
}
