.banner {
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner:before {
    content: "";
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 60vh;
    width: 100%;
}

.banner-text-area{
    position: absolute;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    padding: 10px;
}

.banner-text-area > *{
    z-index: 2;
}

@media screen and (max-width: 762px) {
    .banner {
        height: 50vh ;
        background-position: center ;
        background-repeat: no-repeat ;
        background-size: cover ;
    }

    .banner-text-area > *{
        z-index: 2;
    }
    .banner:before {
        content: "" ;
        background: linear-gradient(to top, black, transparent) ;
        position: absolute ;
        left: 0 ;
        height: 50vh ;
        width: 100% ;
    }

    .banner-text-area {
        width: 90% ; /* ✅ 모바일에서 텍스트 영역 확장 */
        font-size: 14px ; /* ✅ 텍스트 크기 조정 */
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        padding: 10px;
    }

    .banner-text-area h1 {
        font-size: 18px; /* ✅ 제목 크기 줄이기 */
    }

    .banner-text-area p {
        font-size: 12px ; /* ✅ 설명 크기 줄이기 */
    }
}