.banner {
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner:before {
    content: "";
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 60vh;
    width: 100%;
}

.banner-text-area{
    position: absolute;
    top: 30%;
    right: 55%;
}

.banner-text-area > *{
    z-index: 2;
}