@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading::after {
    content: "Loading...";
    animation: blink 1s infinite;
}
.movies_filter{
    background-color: #555555;
    height: 93%;
}

/*@media (max-width: 1000px){*/
/*    .colcolcolcol{*/
/*        max-width: 500px;*/

/*    }*/
/*}*/